Options -Indexes

RewriteEngine on

RewriteRule ^trang-chu/$ index.php [L]
RewriteRule ^bot-login/$ bot_login.php [L]
RewriteRule ^dang-nhap/$ sign_in.php [L]
RewriteRule ^dang-nhap/([0-9]+)/([0-9]+)/([0-9]+)/$ sign_in.php?hsID=$1&sdt=$2&lmID=$3 [L]
RewriteRule ^dang-nhap-facebook/([a-zA-Z0-9=]+)/$ sign_in.php?hsID_face=$1 [L]
RewriteRule ^bang-xep-hang/$ bangxephang.php [L]
RewriteRule ^bang-xep-hang/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ bangxephang.php?loai=$1&ma=$2&chitiet=$3 [L]
RewriteRule ^bang-xep-hang/([0-9]+)/([a-zA-Z0-9_-]+)/$ bangxephang.php?loai=$1&chitiet=$2 [L]
RewriteRule ^tai-lieu/$ tailieu.php [L]
RewriteRule ^chon-mon/([0-9]+)/$ change_mon.php?lmID=$1 [L]
RewriteRule ^mon/$ home.php [L]
RewriteRule ^dang-xuat/$ logout.php [L]
RewriteRule ^ngoi-sao-hy-vong/$ ngoisaohyvong.php [L]
RewriteRule ^tai-khoan/$ taikhoan.php [L]
RewriteRule ^tai-khoan-phat/$ taikhoan_phat.php [L]
RewriteRule ^tai-khoan-phat/page-([0-9]+)/$ taikhoan_phat.php?begin=$1 [L]
RewriteRule ^tai-khoan-thuong/$ taikhoan_thuong.php [L]
RewriteRule ^tai-khoan-thuong/page-([0-9]+)/$ taikhoan_thuong.php?begin=$1 [L]
RewriteRule ^thach-dau/$ thachdau.php [L]
RewriteRule ^thong-bao/$ thongbao.php [L]
RewriteRule ^thong-bao/page-([0-9]+)/$ thongbao.php?begin=$1 [L]
RewriteRule ^tong-quan/$ tongquan.php [L]
RewriteRule ^thong-ke-chuyen-de/([a-zA-Z0-9_-]+)-([0-9]+).html$ tq_chuyende.php?dad=$2 [L]
RewriteRule ^lich-hoc/$ tq_lich.php [L]
RewriteRule ^lich-thi/$ tq_thi.php [L]
RewriteRule ^lich-su-dang-nhap/$ lichsu_dangnhap.php [L]
RewriteRule ^lich-su-doi-ca/$ lichsu_doica.php [L]
RewriteRule ^tai-lieu-chuyen-de/([a-zA-Z0-9_-]+)-([0-9]+).html$ tailieu.php?cdID=$2 [L]
RewriteRule ^tai-lieu-cong-cong/([a-zA-Z0-9_-]+)-([0-9]+).html$ tailieu_detail2.php?tlID=$2 [L]
RewriteRule ^tai-lieu/([a-zA-Z0-9_-]+)-([0-9]+).html$ tailieu_detail.php?tlID=$2 [L]
RewriteRule ^tai-lieu/([a-zA-Z0-9_-]+)-([0-9]+).html/page-([0-9]+)/$ tailieu_detail.php?tlID=$2&begin=$3 [L]
RewriteRule ^video-chuyen-de/([a-zA-Z0-9_-]+)-([0-9]+).html$ video_chuyende.php?chuyende=$2 [L]
RewriteRule ^video-chuyen-de/([a-zA-Z0-9_-]+)-([0-9]+)/page-([0-9]+).html$ video_chuyende.php?chuyende=$2&begin=$3 [L]
RewriteRule ^video/([a-zA-Z0-9_-]+)-(.*).html$ video_detail.php?video=$2 [L]
RewriteRule ^video-search/$ video_search.php [L]
RewriteRule ^video-search/([a-zA-Z0-9_-]+)/$ video_search.php?search=$1 [L]
RewriteRule ^nhan-tin/$ nhan_tin.php [L]
RewriteRule ^ho-so/$ hoso.php [L]
RewriteRule ^ho-so/([0-9]+)/$ hoso.php?error=$1 [L]
RewriteRule ^tai-lieu-cong-cong/$ tailieu_public.php [L]
RewriteRule ^buoi-hoc/$ buoi_hoc.php [L]
RewriteRule ^avata-upload/$ upload.php [L]
RewriteRule ^dang-ky-facebook/$ dangky_face.php [L]
RewriteRule ^kahoot/$ kahoot.php [L]
RewriteRule ^ddos/$ ddos.html [L]
RewriteRule ^error/$ error.html [L]
RewriteRule ^level/$ level.php [L]
RewriteRule ^game-tet/$ game.php [L]
RewriteRule ^phat-ve/$ game2.php [L]
RewriteRule ^them-phat-ve/([0-9]+)/$ add_game2.php?sttID=$1 [L]
RewriteRule ^them-phat-ve/([0-9]+)/([a-zA-Z0-9_-]+)/$ add_game2.php?sttID=$1&day=$2 [L]
RewriteRule ^phat-ve/([a-zA-Z0-9_-]+)/$ game2.php?day=$1 [L]
RewriteRule ^phat-ve-info/([0-9]+)/$ info_game2.php?sttID=$1 [L]
RewriteRule ^nhom-phat-ve/$ pre_game2.php [L]
RewriteRule ^trac-nghiem/$ trac_nghiem.php [L]
RewriteRule ^trac-nghiem/([0-9]+)/$ trac_nghiem.php?error=$1 [L]
RewriteRule ^xin-nghi-hoc/$ xin_nghihoc.php [L]
RewriteRule ^setup/$ sign_progress.php [L]
RewriteRule ^video/$ video.php [L]
RewriteRule ^shop/$ shop.php [L]
RewriteRule ^shop/([0-9]+)/$ shop.php?error=$1 [L]
RewriteRule ^shop-mua/$ shop_mua.php [L]
RewriteRule ^info/$ info.php [L]

RewriteRule ^xuly-mon/$ ajax/xuly_mon.php [L]
RewriteRule ^xuly-game/$ ajax/xuly_game.php [L]
RewriteRule ^xuly-dkcodinh/$ ajax/xuly_dkcodinh.php [L]
RewriteRule ^xuly-ngoisao/$ ajax/xuly_ngoisao.php [L]
RewriteRule ^xuly-search-video/$ ajax/xuly_search_video.php [L]
RewriteRule ^xuly-tam/$ ajax/xuly_tam.php [L]
RewriteRule ^xuly-thachdau/$ ajax/xuly_thachdau.php [L]
RewriteRule ^xuly-thongbao/$ ajax/xuly_thongbao.php [L]
RewriteRule ^xuly-tongquan/$ ajax/xuly_tongquan.php [L]
RewriteRule ^xuly-video/$ ajax/xuly_video.php [L]
RewriteRule ^xuly-sms/$ ajax/xuly_sms.php [L]
RewriteRule ^xuly-tailieu/$ ajax/xuly_tailieu.php [L]

