Options -Indexes

RewriteEngine on

RewriteRule ^trang-chu/$ index.php [L]
RewriteRule ^trang-chu/([0-9]+)/$ index.php?error=$1 [L]
RewriteRule ^xem-truoc/([a-zA-Z0-9=]+)/$ xem_truoc.php?deID=$1 [L]
RewriteRule ^xem-truoc-share/([a-zA-Z0-9=]+)/([a-zA-Z0-9=]+)/$ xem_truoc_share.php?deID=$1&nhom=$2 [L]
RewriteRule ^xoa-ket-qua-thi/([a-zA-Z0-9=]+)/([0-9]+)/$ xoa_ket_qua.php?hsID=$1&deID=$2 [L]
RewriteRule ^dang-nhap/$ sign_in.php [L]
RewriteRule ^dang-nhap/([0-9]+)/$ sign_in.php?error=$1 [L]
RewriteRule ^dang-nhap-xa/([a-zA-Z0-9=]+)/$ sign_option.php?code=$1 [L]
RewriteRule ^dang-xuat/$ logout.php [L]
RewriteRule ^lam-bai-tai-lop/([a-zA-Z0-9=]+)/$ lam_bai_thi.php?deID=$1 [L]
RewriteRule ^lam-bai-share/([a-zA-Z0-9=]+)/$ lam_bai_share.php?oID=$1 [L]
RewriteRule ^pho-diem/([a-zA-Z0-9=]+)/$ pho_diem.php?deID=$1 [L]
RewriteRule ^ket-qua-tai-lop/([a-zA-Z0-9=]+)/$ ket_qua_bai_thi.php?deID=$1 [L]
RewriteRule ^ket-qua-lam-share/([a-zA-Z0-9=]+)/$ ket_qua_lam_share.php?oID=$1 [L]
RewriteRule ^ket-qua-nhap-diem/([a-zA-Z0-9=]+)/$ ket_qua_nhap_diem.php?deID=$1 [L]
RewriteRule ^ket-qua-lam-de/$ ket_qua_lam_de.php [L]
RewriteRule ^ket-qua-tu-luyen/$ ket_qua_tu_luyen.php [L]
RewriteRule ^ket-qua-lam-de/([a-zA-Z0-9_-]+)/$ ket_qua_lam_de.php?type=$1 [L]
RewriteRule ^lich-su-vao-thi/$ lich_su_vao_thi.php [L]
RewriteRule ^wolframalpha/$ wolframalpha.php [L]
RewriteRule ^luyen-de/$ luyende.php [L]
RewriteRule ^thi-thu/$ thi_thu.php [L]
RewriteRule ^tong-quan-de/([a-zA-Z0-9=]+)/$ tong_quan_de.php?deID=$1 [L]

RewriteRule ^xuly-luyen-thi-cau/$ ajax/xuly_luyenthi_cau.php [L]
RewriteRule ^xuly-luyen-thi-cau1/$ ajax/xuly_luyenthi_cau1.php [L]
RewriteRule ^xuly-luyen-thi-cau2/$ ajax/xuly_luyenthi_cau2.php [L]
RewriteRule ^xuly-luyen-thi-cau3/$ ajax/xuly_luyenthi_cau3.php [L]
RewriteRule ^xuly-luyen-thi-cau4/$ ajax/xuly_luyenthi_cau4.php [L]
RewriteRule ^xuly-luyen-thi-cau5/$ ajax/xuly_luyenthi_cau5.php [L]
RewriteRule ^xuly-luyen-thi/$ ajax/xuly_luyenthi.php [L]
RewriteRule ^xuly-mon/$ ajax/xuly_mon.php [L]
