Options -Indexes

RewriteEngine on

RewriteRule ^tong-quan/$ tongquan.php [L]
RewriteRule ^hoc-sinh-chi-tiet/$ hocsinh_detail.php [L]
RewriteRule ^diem-danh-hoc-sinh/$ diemdanh_hocsinh.php [L]
RewriteRule ^hoc-sinh-chi-tiet/([a-zA-Z0-9_-]+)/$ hocsinh_detail.php?ngay=$1 [L]
RewriteRule ^hoc-sinh-chi-tiet/ma/([a-zA-Z0-9_-]+)/$ hocsinh_detail.php?maso=$1 [L]
RewriteRule ^lich-lam/$ tq_lich.php [L]
RewriteRule ^quan-ly-tien/$ quanly_tien.php [L]
RewriteRule ^hoc-sinh-tien-hoc/$ hocsinh_tienhoc.php [L]
RewriteRule ^kiem-tra-tien/$ kiemtra_tien.php [L]
RewriteRule ^kiem-tra-tien/ngay/([0-9]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=1&ngay=$2 [L]
RewriteRule ^kiem-tra-tien/khoang-ngay/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=2&ngay_start=$2&ngay_end=$3 [L]
RewriteRule ^kiem-tra-tien/khoang-seri/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=3&seri_start=$2&seri_end=$3 [L]
RewriteRule ^ho-so/$ hoso.php [L]
RewriteRule ^thuong/$ thuong.php [L]
RewriteRule ^thuong/([0-9]+)/$ thuong.php?hsID=$1 [L]
RewriteRule ^phat/$ phat.php [L]
RewriteRule ^phat/([0-9]+)/$ phat.php?hsID=$1 [L]
RewriteRule ^thong-bao/$ thongbao.php [L]
RewriteRule ^level-thuong/$ level_thuong.php [L]
RewriteRule ^level-thuong/([0-9]+)/$ level_thuong.php?hsID=$1 [L]
RewriteRule ^avata-upload/$ upload.php [L]
RewriteRule ^dang-nhap/$ sign_in.php [L]
RewriteRule ^dang-xuat/$ logout.php [L]

RewriteRule ^xuly-tongquan/$ ajax/xuly_tongquan.php [L]
RewriteRule ^xuly-trogiang/$ ajax/xuly_trogiang.php [L]
RewriteRule ^xuly-mon/$ ajax/xuly_mon.php [L]
RewriteRule ^xuly-search-hs/$ ajax/xuly_search_hs.php [L]
RewriteRule ^xuly-diemdanh/$ ajax/xuly_diemdanh.php [L]
RewriteRule ^xuly-taikhoan/$ ajax/xuly_taikhoan.php [L]
RewriteRule ^xuly-hocsinh/$ ajax/xuly_hocsinh.php [L]
RewriteRule ^xuly-nghihoc/$ ajax/xuly_nghihoc.php [L]
RewriteRule ^xuly-tienhoc/$ ajax/xuly_tienhoc.php [L]
RewriteRule ^xuly-thongtin/$ ajax/xuly_thongtin.php [L]
RewriteRule ^xuly-thongbao/$ ajax/xuly_thongbao.php [L]
RewriteRule ^xuly-thachdau/$ ajax/xuly_thachdau.php [L]