Options -Indexes 

RewriteEngine on

RewriteRule ^trang-chu/$ index.php [L]
RewriteRule ^home/$ home.php [L]
RewriteRule ^diem-danh/$ diemdanh.php [L]
RewriteRule ^pre-hoc-sinh-thong-ke/$ pre_hocsinh_thongke.php [L]
RewriteRule ^tai-khoan/$ taikhoan.php [L]
RewriteRule ^ca-hoc/$ cahoc.php [L]
RewriteRule ^ca-hoc/([0-9]+)/([0-9]+)/$ cahoc.php?mon=$1&lop=$2 [L]
RewriteRule ^quan-ly-tien/$ quanly_tien.php [L]
RewriteRule ^quan-ly-hoc-sinh/$ quanly_hocsinh.php [L]
RewriteRule ^quan-ly-tai-lieu/$ quanly_tailieu.php [L]
RewriteRule ^cai-dat/$ caidat.php [L]
RewriteRule ^pre-bang-luong/$ pre_bangluong.php [L]
RewriteRule ^add-background/$ add_background.php [L]
RewriteRule ^add-buoikt/$ add_buoikt.php [L]
RewriteRule ^background/$ background.php [L]
RewriteRule ^bang-xep-hang/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ bang_xep_hang.php?mon=$1&lop=$2&de=$3 [L]
RewriteRule ^hoc-sinh/$ hocsinh.php [L]
RewriteRule ^hoc-sinh-ho-so/([0-9]+)/([0-9]+)/$ hocsinh_hoso.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-in/([0-9]+)/([0-9]+)/$ hocsinh_in.php?mon=$1&lop=$2 [L]
RewriteRule ^hoc-sinh-thach-dau/([0-9]+)/([0-9]+)/$ hocsinh_thachdau.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-ngoi-sao/([0-9]+)/([0-9]+)/$ hocsinh_ngoisao.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-buoi-hoc/([0-9]+)/([0-9]+)/$ hocsinh_buoi_hoc.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-tai-khoan/([0-9]+)/([0-9]+)/$ hocsinh_taikhoan.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-tai-khoan-thuong/([0-9]+)/([0-9]+)/$ hocsinh_taikhoan_thuong.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-tai-khoan-phat/([0-9]+)/([0-9]+)/$ hocsinh_taikhoan_phat.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-bxh/([0-9]+)/([0-9]+)/$ hocsinh_bxh.php?hsID=$1&monID=$2 [L]
RewriteRule ^hoc-sinh-bxh/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_bxh.php?hsID=$1&monID=$2&chitiet=$3 [L]
RewriteRule ^hoc-sinh-thong-ke-cd/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongke_cd.php?hsID=$1&monID=$2&dad=$3 [L]
RewriteRule ^hoc-sinh-chuyen-de/$ hocsinh_chuyende.php [L]
RewriteRule ^hoc-sinh-chuyen-de/([0-9]+)/([0-9]+)/$ hocsinh_chuyende.php?hsID=$1&dad=$2 [L]
RewriteRule ^hoc-sinh-phu-huynh/$ hocsinh_phuhuynh.php [L]
RewriteRule ^hoc-sinh-gui/([0-9]+)/([0-9]+)/$ hocsinh_gui.php?mon=$1&lop=$2 [L]
RewriteRule ^hoc-sinh-gui/([0-9]+)/$ hocsinh_gui.php?lop=$1 [L]

RewriteRule ^them-game-tet/$ form_add_game.php [L]
RewriteRule ^sua-game-tet/([0-9]+)/$ form_edit_game.php?id=$1 [L]
RewriteRule ^game-tet/$ game_tet.php [L]
RewriteRule ^ca/$ ca.php [L]
RewriteRule ^cai-dat-ca/([0-9]+)/([0-9]+)/$ setup_ca.php?lm=$1&mon=$2 [L]
RewriteRule ^ca/([0-9]+)/([0-9]+)/$ ca.php?lm=$1&mon=$2 [L]
RewriteRule ^ca-hien-tai/([0-9]+)/$ ca_detail.php?ca=$1 [L]
RewriteRule ^ca-co-dinh/([0-9]+)/$ ca_detail_codinh.php?ca=$1 [L]
RewriteRule ^chuyen-de/([0-9]+)/$ chuyende.php?lm=$1 [L]
RewriteRule ^chuyen-de-cha/([0-9]+)/$ chuyende_cha.php?chuyende=$1 [L]
RewriteRule ^diem-danh-kiem-tra/$ diemdanh_kt.php [L]
RewriteRule ^dong-bo/$ dongbo.php [L]
RewriteRule ^danh-muc/([0-9]+)/([0-9]+)/$ danhmuc.php?lm=$1&mon=$2 [L]
RewriteRule ^dong-bo/page-([0-9]+)/$ dongbo.php?begin=$1 [L]
RewriteRule ^sua-video/([0-9]+)/$ edit_video.php?videoID=$1 [L]
RewriteRule ^sua-tai-lieu/([0-9]+)/$ sua_tailieu.php?tlID=$1 [L]
RewriteRule ^gio/$ gio.php [L]
RewriteRule ^gio/([0-9]+)/([0-9]+)/$ gio.php?lm=$1&mon=$2 [L]
RewriteRule ^bang-luong/$ bangluong.php [L]
RewriteRule ^bang-luong-chi-tiet/([0-9]+)/([a-zA-Z0-9_-]+)/([0-9]+)/$ bangluong_chitiet.php?lm=$1&date=$2&loai=$3 [L]
RewriteRule ^bang-luong-tro-giang/([a-zA-Z0-9_-]+)/$ bangluong_trogiang.php?date=$1 [L]
RewriteRule ^hoc-sinh-lich-hoc/([0-9]+)/([0-9]+)/$ hocsinh_ca.php?hsID=$1&lmID=$2 [L]
RewriteRule ^hoc-sinh-chi-tiet/$ hocsinh_detail.php [L]
RewriteRule ^hoc-sinh-chi-tiet/([a-zA-Z0-9_-]+)/$ hocsinh_detail.php?ngay=$1 [L]
RewriteRule ^hoc-sinh-chi-tiet/ma/([a-zA-Z0-9_-]+)/$ hocsinh_detail.php?maso=$1 [L]
RewriteRule ^hoc-sinh-ca-all/([0-9]+)/$ hocsinh_ca_all.php?lm=$1 [L]
RewriteRule ^hoc-sinh-khoa-ca/([0-9]+)/$ hocsinh_khoa_ca.php?lm=$1 [L]
RewriteRule ^hoc-sinh-sai-nhieu/([0-9]+)/$ hocsinh_sainhieu.php?lm=$1 [L]
RewriteRule ^hoc-sinh-sai-nhieu/([0-9]+)/([0-9]+)/$ hocsinh_sainhieu.php?lm=$1&buoiID=$2 [L]
RewriteRule ^hoc-sinh-diem-danh/([0-9]+)/([0-9]+)/$ hocsinh_diemdanh.php?lm=$1&mon=$2 [L]
RewriteRule ^hoc-sinh-diem-danh/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_diemdanh.php?lm=$1&mon=$2&loai=$3&hsID=$4 [L]
RewriteRule ^hoc-sinh-diem-danh/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_diemdanh.php?lm=$1&mon=$2&loai=$3 [L]
RewriteRule ^hoc-sinh-diem-danh/([0-9]+)/([0-9]+)/([0-9]+)/page/([0-9]+)/$ hocsinh_diemdanh.php?lm=$1&mon=$2&loai=$3&begin=$4 [L]
RewriteRule ^hoc-sinh-nghi-nhieu/([0-9]+)/([0-9]+)/$ hocsinh_nghinhieu.php?lm=$1&mon=$2 [L]
RewriteRule ^hoc-sinh-nghi-nhieu/([0-9]+)/([0-9]+)/page/([0-9]+)/$ hocsinh_nghinhieu.php?lm=$1&mon=$2&begin=$3 [L]
RewriteRule ^hoc-sinh-thong-ke/([0-9]+)/$ hocsinh_thongke.php?lm=$1 [L]
RewriteRule ^hoc-sinh-thong-ke-page/([0-9]+)/([0-9]+)/page-([0-9]+)/$ hocsinh_thongke.php?lm=$1&loai=$2&begin=$3 [L]
RewriteRule ^hoc-sinh-thong-ke-buoi/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongke.php?lm=$1&buoi=$2&how=$3 [L]
RewriteRule ^hoc-sinh-thong-ke/([0-9]+)/([0-9]+)/$ hocsinh_thongke.php?lm=$1&loai=$2 [L]
RewriteRule ^hoc-sinh-thong-ke/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongke.php?lm=$1&loai=$2&ma1=$3&ma2=$4 [L]
RewriteRule ^hoc-sinh-thong-ke/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongke.php?lm=$1&loai=$2&ma=$3 [L]
RewriteRule ^hoc-sinh-thong-ke-hs/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongke.php?lm=$1&loai=$2&ma=$3&hs=1 [L]
RewriteRule ^pho-diem/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)/$ pho_diem.php?ngay=$1&de=$2&lm=$3 [L]
RewriteRule ^hoc-sinh-thong-tin/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2 [L]
RewriteRule ^hoc-sinh-thong-tin/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&hoc=$3&hop=$4 [L]
RewriteRule ^hoc-sinh-thong-tin-face/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&face=$3 [L]
RewriteRule ^hoc-sinh-thong-tin/([0-9]+)/([0-9]+)/page/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&begin=$3 [L]
RewriteRule ^hoc-sinh-thong-tin-nghi/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&gender=$3&hoc=$4 [L]
RewriteRule ^hoc-sinh-thong-tin-sdt/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&sdt=$3&check=$4 [L]
RewriteRule ^hoc-sinh-thong-tin-loai/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&loai=$3 [L]
RewriteRule ^hoc-sinh-thong-tin-loai/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&loai=$3&ma1=$4&ma2=$5 [L]
RewriteRule ^hoc-sinh-thong-tin-loai/([0-9]+)/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&loai=$3&ma=$4 [L]
RewriteRule ^hoc-sinh-thong-tin-birth/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&loai=$3&birth=$4 [L]
RewriteRule ^hoc-sinh-thong-tin-sort/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&sort=$3 [L]
RewriteRule ^hoc-sinh-thong-tin-truong/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&truong=$3 [L]
RewriteRule ^hoc-sinh-thong-tin-van/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_thongtin.php?lm=$1&mon=$2&van=$3 [L]
RewriteRule ^hoc-sinh-nghi-hoc/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ hocsinh_nghihoc.php?cumID=$1&lm=$2&lm2=$3&loai=$4 [L]
RewriteRule ^hoc-sinh-video/([0-9]+)/([0-9]+)/$ hocsinh_video.php?hsID=$1&lmID=$2 [L]
RewriteRule ^hoc-sinh-vao-ra/$ hocsinh_vaora.php [L]
RewriteRule ^hoc-sinh-vao-ra/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ hocsinh_vaora.php?type=$1&date=$2 [L]
RewriteRule ^hoc-sinh-huy-bai/$ hocsinh_huybai.php [L]
RewriteRule ^hoc-sinh-huy-bai/([a-zA-Z0-9_-]+)/$ hocsinh_huybai.php?thang=$1 [L]
RewriteRule ^xem-nghi-hoc/([0-9]+)/([0-9]+)/([0-9]+)/$ xem_nghihoc.php?cumID=$1&lm=$2&mon=$3 [L]
RewriteRule ^kiem-tra-diem-danh/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ kiemtra_diemdanh.php?ngay=$1&caID=$2&lm=$3&mon=$4 [L]
RewriteRule ^kiem-tra-tien/$ kiemtra_tien.php [L]
RewriteRule ^kiem-tra-tien/ngay/([0-9]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=1&ngay=$2 [L]
RewriteRule ^kiem-tra-tien/khoang-ngay/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=2&ngay_start=$2&ngay_end=$3 [L]
RewriteRule ^kiem-tra-tien/khoang-seri/([0-9]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ kiemtra_tien.php?staff=$1&kieu=3&seri_start=$2&seri_end=$3 [L]
RewriteRule ^phu-diem/([0-9]+)/([0-9]+)/$ phu_diem.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^cap-nhat-diem/([0-9]+)/([0-9]+)/$ cap_nhat.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^cap-nhat-diem/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)/$ cap_nhat.php?buoiID=$1&lmID=$2&how=$3 [L]
RewriteRule ^diemtb-buoi/([0-9]+)/([0-9]+)/$ diemtb_buoi.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^xet-phat/([0-9]+)/([0-9]+)/$ xet_phat.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^ket-qua-thach-dau/([0-9]+)/([0-9]+)/$ ketqua_thachdau.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^ket-qua-ngoi-sao/([0-9]+)/([0-9]+)/$ ketqua_ngoisao.php?buoiID=$1&lmID=$2 [L]
RewriteRule ^moi-chuyen-de/$ new_nhayde.php [L]
RewriteRule ^moi-chuyen-de/([0-9]+)/([a-zA-Z0-9_-]+)/$ new_nhayde.php?lm=$1&de=$2 [L]
RewriteRule ^tai-khoan/$ taikhoan.php [L]
RewriteRule ^tai-khoan/([0-9]+)/$ taikhoan.php?lm=$1 [L]
RewriteRule ^tai-khoan/page-([0-9]+)/$ taikhoan.php?begin=$1 [L]
RewriteRule ^tai-khoan/([0-9]+)/([0-9]+)/$ taikhoan.php?lm=$1&am=$2 [L]
RewriteRule ^tai-khoan-hoc-sinh/$ taikhoan_hocsinh.php [L]
RewriteRule ^tai-khoan-kiem-tra/$ taikhoan_kiemtra.php [L]
RewriteRule ^tai-khoan-kiem-tra/([0-9]+)/$ taikhoan_kiemtra.php?am=$1 [L]
RewriteRule ^tai-khoan-kiem-tra/page-([0-9]+)/$ taikhoan_kiemtra.php?begin=$1 [L]
RewriteRule ^kiem-tra-tien-hoc/([a-zA-Z0-9_-]+)/$ kiemtra_tienhoc.php?date=$1 [L]
RewriteRule ^kiem-tra-tien-hoc-mon/([0-9]+)/([0-9]+)/$ kiemtra_tienhoc_mon.php?lm=$1&xuat=$2 [L]
RewriteRule ^hoc-sinh-tien-hoc/$ hocsinh_tienhoc.php [L]
RewriteRule ^ngoi-sao/$ ngoisao.php [L]
RewriteRule ^ngoi-sao/([a-zA-Z0-9_-]+)/([0-9]+)/$ ngoisao.php?buoi=$1&lm=$2 [L]
RewriteRule ^ngoi-sao/([a-zA-Z0-9_-]+)/([0-9]+)/page-([0-9]+)/$ ngoisao.php?buoi=$1&lm=$2&begin=$3 [L]
RewriteRule ^thach-dau/$ thachdau.php [L]
RewriteRule ^thach-dau/([a-zA-Z0-9_-]+)/([0-9]+)/$ thachdau.php?buoi=$1&lm=$2 [L]
RewriteRule ^thach-dau/([a-zA-Z0-9_-]+)/([0-9]+)/page-([0-9]+)/$ thachdau.php?buoi=$1&lm=$2&begin=$3 [L]
RewriteRule ^level/$ level.php [L]
RewriteRule ^level-thuong/$ level_thuong.php [L]
RewriteRule ^level-thuong/([0-9]+)/$ level_thuong.php?hsID=$1 [L]
RewriteRule ^tai-lieu-danh-muc/([0-9]+)/$ tailieu_danhmuc.php?dmID=$1 [L]
RewriteRule ^tai-lieu-chuyen-de/([0-9]+)/$ tailieu_chuyende.php?cdID=$1 [L]
RewriteRule ^tai-lieu-chuyen-de/([0-9]+)/([0-9]+)/$ tailieu_chuyende.php?cdID=$1&loai=$2 [L]
RewriteRule ^tai-lieu/([0-9]+)/([0-9]+)/$ tailieu.php?lm=$1&mon=$2 [L]
RewriteRule ^tai-lieu/([0-9]+)/([0-9]+)/page-([0-9]+)/$ tailieu.php?lm=$1&mon=$2&begin=$3 [L]
RewriteRule ^up-tai-lieu/([0-9]+)/([0-9]+)/$ up_tailieu.php?lm=$1&mon=$2 [L]
RewriteRule ^nghi-hoc/([0-9]+)/([0-9]+)/$ nghi_hoc.php?lm=$1&mon=$2 [L]
RewriteRule ^tra-cuu/$ tra_cuu.php [L]
RewriteRule ^danh-ba/([0-9]+)/$ danhba.php?lm=$1 [L]
RewriteRule ^cap-quyen/$ vendor/rapidwebltd/php-google-contacts-v3-api/authorise-application.php [L]
RewriteRule ^tang-truong/$ tang_truong.php [L]
RewriteRule ^game/$ game.php [L]
RewriteRule ^game2/$ game2.php [L]
RewriteRule ^hoc-vien-chi-tiet/$ hocvien_detail.php [L]
RewriteRule ^hoc-vien-chi-tiet/([0-9]+)/$ hocvien_detail.php?nID=$1 [L]
RewriteRule ^hoc-vien-media/([0-9]+)/$ hocvien_media.php?sttID=$1 [L]
RewriteRule ^hoc-vien-list/([a-zA-Z0-9_-]+)/$ hocvien_list.php?ngay=$1 [L]

RewriteRule ^khoa-hoc/$ khoa_hoc.php [L]
RewriteRule ^khoa/$ khoa.php [L]
RewriteRule ^kiem-tra-phat-diemkt/([0-9]+)/([0-9]+)/$ kiemtra_phat_diemkt.php?monID=$1&lopID=$2 [L]
RewriteRule ^li-do/$ li_do.php [L]
RewriteRule ^dang-xuat/$ logout.php [L]
RewriteRule ^mon-hoc/$ mon_hoc.php [L]
RewriteRule ^ngoi-sao-hoc-sinh/$ ngoisao.php [L]
RewriteRule ^nhap-diem/$ nhapdiem.php [L]
RewriteRule ^nhap-diem2/$ nhapdiem2.php [L]
RewriteRule ^nhap-diem3/$ nhapdiem3.php [L]
RewriteRule ^nhap-diem4/$ nhapdiem4.php [L]
RewriteRule ^nhay-de/$ nhayde.php [L]
RewriteRule ^nap-tien/$ nap_tien.php [L]
RewriteRule ^nap-tien/([0-9]+)/$ nap_tien.php?hsID=$1 [L]
RewriteRule ^phat/$ phat.php [L]
RewriteRule ^phat/([0-9]+)/$ phat.php?hsID=$1 [L]

RewriteRule ^phat/([0-9]+)/([a-zA-Z0-9_-]+)/$ phat.php?hsID=$1&type=$2 [L]
RewriteRule ^phat/page-([0-9]+)/$ phat.php?begin=$1 [L]
RewriteRule ^nghi-dai/([0-9]+)/$ nghi_dai.php?hsID=$1 [L]
RewriteRule ^pre-bang-xep-hang/$ pre_bangxephang.php [L]
RewriteRule ^pre-ca/$ pre_ca.php [L]
RewriteRule ^pre-gio/$ pre_gio.php [L]
RewriteRule ^pre-hoc-sinh-lich-hoc/$ pre_hocsinh_ca.php [L]
RewriteRule ^pre-hoc-sinh-diem-danh/$ pre_hocsinh_diemdanh.php [L]
RewriteRule ^pre-hoc-sinh-ca-all/$ pre_hocsinh_ca_all.php [L]
RewriteRule ^pre-hoc-sinh-gui/$ pre_hocsinh_gui.php [L]
RewriteRule ^pre-hoc-sinh-khoa-ca/$ pre_hocsinh_khoa_ca.php [L]
RewriteRule ^pre-hoc-sinh-in/$ pre_hocsinh_in.php [L]
RewriteRule ^pre-hoc-sinh-chi-tiet/$ pre_hocsinh_detail.php [L]
RewriteRule ^pre-hoc-sinh-thong-tin/$ pre_hocsinh_thongtin.php [L]
RewriteRule ^pre-hoc-sinh-tien-hoc/$ pre_hocsinh_tienhoc.php [L]
RewriteRule ^pre-kiem-tra-phat-diemkt/$ pre_kiemtra_phat_diemkt.php [L]
RewriteRule ^pre-kiem-tra-tien-hoc-mon/$ pre_kiemtra_tienhoc_mon.php [L]
RewriteRule ^pre-kiem-tra-tien-hoc-ngay/$ pre_kiemtra_tienhoc_ngay.php [L]
RewriteRule ^pre-quan-huyen/$ pre_quanhuyen.php [L]
RewriteRule ^pre-truong-hoc/$ pre_truonghoc.php [L]
RewriteRule ^pre-setup-ca/$ pre_setup_ca.php [L]
RewriteRule ^pre-tai-lieu/$ pre_tailieu.php [L]
RewriteRule ^pre-chuyen-de/$ pre_chuyende.php [L]
RewriteRule ^quan-huyen/$ quanhuyen.php [L]
RewriteRule ^quan-huyen/([0-9]+)/$ quanhuyen.php?tp=$1 [L]
RewriteRule ^quan-huyen/([0-9]+)/page-([0-9]+)/$ quanhuyen.php?tp=$1&begin=$2 [L]
RewriteRule ^cai-dat-tien/$ setup_tien.php [L]
RewriteRule ^tai-khoan/$ taikhoan.php [L]
RewriteRule ^tai-khoan/([0-9]+)/([0-9]+)/$ taikhoan.php?monID=$1&lopID=$2 [L]
RewriteRule ^tai-khoan/page-([0-9]+)/$ taikhoan.php?begin=$1 [L]
RewriteRule ^tai-khoan/([0-9]+)/([0-9]+)/([0-9]+)/$ taikhoan.php?monID=$1&lopID=$2&am=$3 [L]
RewriteRule ^tai-khoan-hoc-sinh/$ taikhoan_hocsinh.php [L]
RewriteRule ^tai-khoan-kiem-tra/$ taikhoan_kiemtra.php [L]
RewriteRule ^tai-khoan-kiem-tra/([0-9]+)/$ taikhoan_kiemtra.php?am=$1 [L]
RewriteRule ^tai-khoan-kiem-tra/page-([0-9]+)/$ taikhoan_kiemtra.php?begin=$1 [L]
RewriteRule ^thach-dau/$ thachdau.php [L]
RewriteRule ^thach-dau/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)/$ thachdau.php?buoi=$1&mon=$2&lop=$3 [L]
RewriteRule ^thach-dau/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)/page-([0-9]+)/$ thachdau.php?buoi=$1&mon=$2&lop=$3&begin=$4 [L]
RewriteRule ^thach-dau-hoc-sinh/$ thachdau_hocsinh.php [L]
RewriteRule ^thong-bao/$ thongbao.php [L]
RewriteRule ^thong-bao-nang-cao/$ thongbao_nangcao.php [L]
RewriteRule ^thuong/$ thuong.php [L]
RewriteRule ^thuong/([0-9]+)/$ thuong.php?hsID=$1 [L]
RewriteRule ^thuong/([0-9]+)/([a-zA-Z0-9_-]+)/$ thuong.php?hsID=$1&type=$2 [L]
RewriteRule ^thuong/page-([0-9]+)/$ thuong.php?begin=$1 [L]
RewriteRule ^truong-hoc/$ truonghoc.php [L]
RewriteRule ^truong-hoc/([0-9]+)/([0-9]+)/$ truonghoc.php?tp=$1&quan=$2 [L]
RewriteRule ^tinh-tp/$ tinhtp.php [L]
RewriteRule ^tro-giang/$ tro_giang.php [L]
RewriteRule ^tien-search/$ tien_search.php [L]
RewriteRule ^pre-mo-video-hang-loat/$ try.php [L]
RewriteRule ^mo-video-hang-loat/$ try_detail.php [L]
RewriteRule ^mo-video-hang-loat/([0-9]+)/([0-9]+)/([0-9]+)/$ try_detail.php?mon=$1&lop=$2&chuyende=$3 [L]
RewriteRule ^mo-video-hang-loat/([0-9]+)/([0-9]+)/([0-9]+)/page-([0-9]+)/$ try_detail.php?mon=$1&lop=$2&chuyende=$3&begin=$4 [L]
RewriteRule ^mo-video-hoc-sinh/$ unlock_video.php [L]
RewriteRule ^up-video/$ up_video.php [L]
RewriteRule ^videos/$ video.php [L]
RewriteRule ^videos/([0-9]+)/([0-9]+)/$ video.php?mon=$1&cd=$2 [L]
RewriteRule ^videos/page-([0-9]+)/$ video.php?begin=$1 [L]
RewriteRule ^video/([0-9]+)/$ video_detail.php?video=$1 [L]
RewriteRule ^video-chuyen-de/([0-9]+)/$ video_chuyende.php?chuyende=$1 [L]
RewriteRule ^ca-time/$ ca_time.php [L]
RewriteRule ^sua-chua/$ sua_chua.php [L]
RewriteRule ^sua-de/$ sua_de.php [L]
RewriteRule ^sua-de/([0-9]+)/$ sua_de.php?hsID=$1 [L]
RewriteRule ^facebook/$ facebook.php [L]
RewriteRule ^import/$ import_diem.php [L]
RewriteRule ^xem-tai-lieu/([0-9]+)/$ tailieu_xem.php?tlID=$1 [L]
RewriteRule ^dang-ky-face/$ dangky_face.php [L]
RewriteRule ^khoa/$ khoa.php [L]
RewriteRule ^xet-nhay-de/$ xet_nhay_de.php [L]
RewriteRule ^dia-diem/$ dia_diem.php [L]
RewriteRule ^dia-diem-ca/([0-9]+)/$ dia_diem_ca.php?ddID=$1 [L]
RewriteRule ^xem-log/$ xem_log.php [L]
RewriteRule ^note/$ note.php [L]
RewriteRule ^idea/$ idea.php [L]
RewriteRule ^doi-mat-khau/$ doi_mk.php [L]
RewriteRule ^sms/$ sms.php [L]
RewriteRule ^truy-cap/$ truycap.php [L]
RewriteRule ^truy-cap/([0-9]+)/$ truycap.php?ngay=$1 [L]
RewriteRule ^xuat-sms/$ xuat_sms.php [L]
RewriteRule ^sms-tuy-chon/$ sms_tuy_chon.php [L]
RewriteRule ^sms-tu-dong/$ sms_tu_dong.php [L]
RewriteRule ^diem-danh-tro-giang/$ diemdanh_trogiang.php [L]
RewriteRule ^diem-danh-tro-giang/([a-zA-Z0-9_-]+)/$ diemdanh_trogiang.php?date=$1 [L]
RewriteRule ^sach/$ sach.php [L]
RewriteRule ^them-sach/$ add_sach.php [L]

RewriteRule ^xuly-background/$ ajax/xuly_background.php [L]
RewriteRule ^xuly-bangluong/$ ajax/xuly_bangluong.php [L]
RewriteRule ^xuly-ca/$ ajax/xuly_ca.php [L]
RewriteRule ^xuly-catime/$ ajax/xuly_catime.php [L]
RewriteRule ^xuly-chuyende/$ ajax/xuly_chuyende.php [L]
RewriteRule ^xuly-diem/$ ajax/xuly_diem.php [L]
RewriteRule ^xuly-diemdanh/$ ajax/xuly_diemdanh.php [L]
RewriteRule ^xuly-doica/$ ajax/xuly_doica.php [L]
RewriteRule ^xuly-gio/$ ajax/xuly_gio.php [L]
RewriteRule ^xuly-hocsinh/$ ajax/xuly_hocsinh.php [L]
RewriteRule ^xuly-lido/$ ajax/xuly_lido.php [L]
RewriteRule ^xuly-lop/$ ajax/xuly_lop.php [L]
RewriteRule ^xuly-mon/$ ajax/xuly_mon.php [L]
RewriteRule ^xuly-muctien/$ ajax/xuly_muctien.php [L]
RewriteRule ^xuly-nghihoc/$ ajax/xuly_nghihoc.php [L]
RewriteRule ^xuly-ngoisao/$ ajax/xuly_ngoisao.php [L]
RewriteRule ^xuly-nhapdiem/$ ajax/xuly_nhapdiem.php [L]
RewriteRule ^xuly-nhayde/$ ajax/xuly_nhayde.php [L]
RewriteRule ^xuly-phuhuynh/$ ajax/xuly_phuhuynh.php [L]
RewriteRule ^xuly-search-hs/$ ajax/xuly_search_hs.php [L]
RewriteRule ^xuly-search-video/$ ajax/xuly_search_video.php [L]
RewriteRule ^xuly-taikhoan/$ ajax/xuly_taikhoan.php [L]
RewriteRule ^xuly-thachdau/$ ajax/xuly_thachdau.php [L]
RewriteRule ^xuly-thongke/$ ajax/xuly_thongke.php [L]
RewriteRule ^xuly-thongtin/$ ajax/xuly_thongtin.php [L]
RewriteRule ^xuly-tienhoc/$ ajax/xuly_tienhoc.php [L]
RewriteRule ^xuly-tienhoc/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ ajax/xuly_tienhoc.php?code0=$1&ngay=$2 [L]
RewriteRule ^xuly-truong/$ ajax/xuly_truong.php [L]
RewriteRule ^xuly-unlock-video/$ ajax/xuly_unlock_video.php [L]
RewriteRule ^xuly-unlock-ca/$ ajax/xuly_unlock_ca.php [L]
RewriteRule ^xuly-video/$ ajax/xuly_video.php [L]
RewriteRule ^xuly-danhmuc/$ ajax/xuly_danhmuc.php [L]
RewriteRule ^xuly-tailieu/$ ajax/xuly_tailieu.php [L]
RewriteRule ^xuly-sua-chua/$ ajax/xuly_suachua.php [L]
RewriteRule ^xuly-facebook/$ ajax/xuly_facebook.php [L]
RewriteRule ^xuly-test/$ ajax/xuly_test.php [L]
RewriteRule ^xuly-diadiem/$ ajax/xuly_diadiem.php [L]
RewriteRule ^xuly-trogiang/$ ajax/xuly_trogiang.php [L]
RewriteRule ^xuly-game/$ ajax/xuly_game.php [L]