Options -Indexes

RewriteEngine on

RewriteRule ^trang-chu/$ index.php [L]
RewriteRule ^dang-nhap/$ sign_in.php [L]
RewriteRule ^dang-nhap/([a-zA-Z0-9=]+)/([a-zA-Z0-9]+)/([0-9]+)/$ sign_in.php?ID=$1&code=$2&lmID=$3 [L]
RewriteRule ^them-cau-hoi/$ add_cau_hoi.php [L]
RewriteRule ^mo-ta-de/$ mo_ta_de.php [L]
RewriteRule ^sua-cau-hoi/([0-9]+)/$ edit_cau_hoi.php?cID=$1 [L]
RewriteRule ^import-cau-hoi/$ import_cau_hoi.php [L]
RewriteRule ^import-cau-hoi-ex/$ import_cau_hoi_ex.php [L]
RewriteRule ^import-cau-hoi-ex/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)/$ import_cau_hoi_ex.php?filename=$1&check=$2&notecd=$3 [L]
RewriteRule ^dang-xuat/$ logout.php [L]
RewriteRule ^danh-sach-cau-hoi/$ list_cau_hoi.php [L]
RewriteRule ^danh-sach-cau-hoi/([0-9]+)/$ list_cau_hoi.php?lmID=$1 [L]
RewriteRule ^ket-qua-lam-de/([0-9]+)/$ list_ket_qua_de.php?lmID=$1 [L]
RewriteRule ^ket-qua-lam-de/([0-9]+)/([a-zA-Z0-9_-]+)/$ list_ket_qua_de.php?lmID=$1&type=$2 [L]
RewriteRule ^ket-qua-lam-de-hs/([0-9]+)/([0-9]+)/$ ket_qua_bai_thi.php?deID=$1&hsID=$2 [L]
RewriteRule ^ket-qua-nhap-diem-hs/([0-9]+)/([0-9]+)/$ ket_qua_nhap_diem.php?deID=$1&hsID=$2 [L]
RewriteRule ^mon-hoc/$ list_mon_hoc.php [L]
RewriteRule ^thong-ke-cau-hoi/([0-9]+)/$ thong_ke_cau_hoi.php?cID=$1 [L]
RewriteRule ^tao-de-thi/$ tao_de_thi.php [L]
RewriteRule ^danh-sach-de-thi/$ list_de_thi.php [L]
RewriteRule ^danh-sach-de-thi/([0-9]+)/$ list_de_thi.php?nhom=$1 [L]
RewriteRule ^sua-de/([0-9]+)/$ sua_de_thi.php?nhom=$1 [L]
RewriteRule ^danh-sach-nhom-de-thi/$ list_nhom_de_thi.php [L]
RewriteRule ^danh-sach-nhom-de-thi/([a-zA-Z0-9_-]+)/$ list_nhom_de_thi.php?type=$1 [L]
RewriteRule ^danh-sach-nhom-de-thi/$ list_nhom_de_thi.php [L]
RewriteRule ^xem-de/([0-9]+)/$ xem_de.php?deID=$1 [L]
RewriteRule ^xem-chuyen-de/([0-9]+)/$ xem_chuyen_de.php?cdID=$1 [L]
RewriteRule ^in-de-thi/([0-9]+)/$ in_de_thi.php?nhom=$1 [L]
RewriteRule ^in-de-thi/word-de/([0-9]+)/([0-9]+)/([0-9]+)/$ in_word.php?deID=$1&isda=$2&isdetail=$3 [L]
RewriteRule ^in-de-thi/word/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ in_word.php?nhom=$1&luuy=$2&goc=$3&start=$4&end=$5 [L]
RewriteRule ^in-de-thi/web/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/$ in_web.php?nhom=$1&luuy=$2&goc=$3&start=$4&end=$5 [L]
RewriteRule ^in-de-thi/web-de/([0-9]+)/$ in_web.php?deID=$1 [L]
RewriteRule ^in-de-thi/chuyen-de/([0-9]+)/$ in_chuyen_de.php?nhom=$1 [L]
RewriteRule ^in-de-thi/chuyen-de/ma/([a-zA-Z0-9_-]+)/$ in_chuyen_de.php?maso=$1 [L]
RewriteRule ^thu-bai/([0-9]+)/$ thu_bai.php?nhom=$1 [L]
RewriteRule ^sua-diem/([0-9]+)/$ sua_diem.php?nhom=$1 [L]
RewriteRule ^thong-bao/([0-9]+)/$ thong_bao.php?deID=$1 [L]
RewriteRule ^thong-ke-de-thi/([0-9]+)/$ thong_ke_de_thi.php?deID=$1 [L]
RewriteRule ^thong-ke-de-thi/dap-an/([0-9]+)/([0-9]+)/$ thong_ke_de_thi_dap_an.php?daID=$1&nhom=$2 [L]
RewriteRule ^thong-ke-de-thi/dang-lam/([0-9]+)/$ thong_ke_de_thi_in.php?page=in&nhom=$1 [L]
RewriteRule ^thong-ke-de-thi/ket-thuc/([0-9]+)/$ thong_ke_de_thi_in.php?page=out&nhom=$1 [L]
RewriteRule ^thong-ke-de-thi/ket-thuc/([0-9]+)/([0-9.]+)/$ thong_ke_de_thi_in.php?page=out&nhom=$1&khoang=$2 [L]
RewriteRule ^thong-ke-de-thi/chua-lam/([0-9]+)/$ thong_ke_de_thi_in.php?page=none&nhom=$1 [L]
RewriteRule ^thong-ke-de-thi/loc/([0-9]+)/([0-9.]+)/$ thong_ke_de_thi_loc.php?nhom=$1&number=$2 [L]
RewriteRule ^thong-ke-de-thi/loc/([0-9]+)/([0-9.]+)/([0-9.]+)/$ thong_ke_de_thi_loc.php?nhom=$1&number=$2&khoang=$3 [L]
RewriteRule ^chuyen-de/$ list_chuyen_de.php [L]
RewriteRule ^mo-chuyen-de/$ mo_chuyen_de.php [L]
RewriteRule ^hoc-sinh-khoa/$ hoc_sinh_khoa.php [L]
RewriteRule ^loai-de/$ loai_de.php [L]
RewriteRule ^wolframalpha/$ wolframalpha.php [L]
RewriteRule ^toexcel/$ toexcel.php [L]

RewriteRule ^xuly-cau-hoi/$ ajax/xuly_cauhoi.php [L]
RewriteRule ^xuly-de/$ ajax/xuly_de.php [L]
RewriteRule ^xuly-mon/$ ajax/xuly_mon.php [L]
RewriteRule ^xuly-chuyende/$ ajax/xuly_chuyende.php [L]
RewriteRule ^xuly-hoc-sinh/$ ajax/xuly_hocsinh.php [L]
RewriteRule ^xuly-khac/$ ajax/xuly_khac.php [L]